{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "importOrder": [
    "^(fastify/(.*)$)|^(fastify$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/db/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/data/(.*)$",
    "",
    "^@/utils/(.*)$",
    "^@/middleware/(.*)$",
    "^@/services/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}